
name: CI/CD MYFastAPI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # -------------------------
  # 1. Job : Build & Test (CI)
  # -------------------------
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q

  # -------------------------
  # 2. Job : Build & Push Docker Image (CD)
  # -------------------------
  docker-deploy:
    runs-on: ubuntu-latest
    needs: build-test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-fastapi:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/my-fastapi:latest

      - name: Save API URL as artifact
        run: |
          echo "Votre image est disponible sur Docker Hub : https://hub.docker.com/r/${{ secrets.DOCKER_USERNAME }}/my-fastapi" > api_url.txt

      - name: Upload API URL artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-url
          path: api_url.txt

  # -------------------------
  # 3. Job : Déploiement sur Render
  # -------------------------
  deploy-render:
    runs-on: ubuntu-latest
    needs: docker-deploy
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Déployer sur Render
        run: |
          curl -X POST \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Content-Type: application/json" \
          -d '{"clearCache": false}' \
          https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys
